body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
    line-height: 1.6;
}

.resume {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.resume section {
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    position: relative; 
    display: inline-block;
    margin-bottom: 10px;
}

h2::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 1px;
    background: #333;
    width: 100%;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.resume section ul ul {
    list-style-type: circle;
    margin-top: 5px;
}

li {
    margin-bottom: 5px;
}

p {
    margin: 5px 0;
}

.contact-info {
    font-size: 16px;
    margin-bottom: 20px;
}

span.clickable {
    color: grey;
    cursor: pointer;
    text-decoration: underline;
    display: inline; 
}
